@using System.Collections;
@using System.Collections.Generic;
@using Model.entity;
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Share/Layout.cshtml";
    List<Product> list = ViewBag.ListProducts;
}
<div class="breadcrumbs py-4">
    <div class="container text-left">
        <ul class="bread-list d-inline-block">
            <li class="d-inline-block text-capitalize"><a href="/Home/Index">Trang chủ<i class="ti-arrow-right mx-2"></i></a></li>
            <li class="d-inline-block text-capitalize"><a href="#">Chi tiết sản phẩm</a></li>
        </ul>
    </div>
</div>
<section class="product-detail">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="product-slider-active">
                <div class="single-slider zoom">
                    <img class="custom-image-product" src="@list[0].Url_img_product" />
                </div>
                <div class="single-slider zoom">
                    <img class="custom-image-product" src="@list[0].Url_img_product" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="product-content p-5">
                <h2>@list[0].Name_product</h2>
                <div class="product-rating d-flex">
                    <div class="rating">
                        @for (int j = 0; j < list[0].Star; j++)
                        {
                            <i class="yellow fa fa-star"></i>
                        }
                        @for (int j = list[0].Star; j < 5; j++)
                        {
                            <i class="fa fa-star"></i>
                        }
                    </div>
                    <a href="#"> (33 Đánh giá)</a>
                </div>

                @if (list[0].Listed_price != list[0].Current_price)
                {
                    <h3>
                        <span>@string.Format("{0:0,0 vnđ}", list[0].Listed_price)</span>
                        @string.Format("{0:0,0 vnđ}", list[0].Current_price)
                    </h3>
                }
                else
                {
                    <h3>
                        @string.Format("{0:0,0 vnđ}", list[0].Current_price)
                    </h3>
                }



                <div class="product-peragraph">
                    <p>
                        @list[0].Desc_product
                    </p>
                </div>

                <div class="quantity d-inline-block mr-3">
                    <div class="input-group">
                        <div class="button minus">
                            <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant_@list[0].Id_product">
                                <i class="ti-minus"></i>
                            </button>
                        </div>
                        <input type="text" name="quant_@list[0].Id_product" class="input-number" data-min="0" data-max="@list[0].Quantity_product" value="1" />
                        <div class="button plus">
                            <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant_@list[0].Id_product">
                                <i class="ti-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="add-to-cart d-inline-block">
                    <a href="" onclick="addItems(@list[0].Id_product,'true')" class="btn">Thêm vào giỏ hàng</a>
                </div>
                <div class="product-stock">
                    <span>@list[0].Quantity_product sản phẩm có sẵn</span>
                </div>
                <div class="default-social mt-3">
                    <h4 class="share-now">Chia sẻ:</h4>
                    <ul class="d-inline-block">
                        <li class="d-inline-block mr-3"><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="d-inline-block mr-3"><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="d-inline-block mr-3"><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li class="d-inline-block"><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>