@model  Hoa_Chat_Thi_Nghiem_ASP_NET_MVC.Areas.Admin.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập quản trị | Website quản trị v2.0</title>
    <!-- ===== STYLESHEET ===== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="~/Assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/login.css" rel="stylesheet" />
</head>

<body>
    <section class="container-login d-flex justify-content-center align-items-center p-3">
        <div class="wrap-login">
            <div class="login-pic">
                <img src="images/team.jpg" alt="">
            </div>
            <div class="login-form">
                <span class="login-form-title text-center d-block mb-4">ĐĂNG NHẬP HỆ THỐNG</span>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!--Thông báo lỗi chung không bao gồm lỗi
                đã thông báo cho từng thuộc tính-->
                @using (Html.BeginForm("Login", "Login"))
                {
                    @Html.AntiForgeryToken() <!--Tránh các request giả mạo-->
                    <div class="wrap-input">
                        <!-- <input class="input" type="text" placeholder="Tài khoản quản trị" name="username" id="field-username"> -->
                        @Html.TextBoxFor(model => model.Username, new { @class = "input", @autofocus = "autofocus",
                       @id = "field-username", @placeholder = "Tài khoản quản trị" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        <span class="symbol-input d-flex align-items-center pl-4"><i class='bx bx-user'></i></span>
                    </div>
                    <div class="wrap-input">
                        <!-- <input autocomplete="off" class="input" type="password" placeholder="Mật khẩu" name="password" id="field-password"> -->
                        @Html.PasswordFor(model => model.Password, new { @class = "input", @id = "field-password",
                       @placeholder = "Mật khẩu", @autocomplete = "off", @type = "password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span toggle="#field-password" class="bx bx-hide field-icon click-eye"></span>
                        <span class="symbol-input d-flex align-items-center pl-4"><i class='bx bx-key'></i></span>
                    </div>
                    <div class="form-btn d-flex flex-wrap justify-content-center w-100 pt-3">
                        <input type="submit" value="Đăng nhập" id="btn-login" />
                    </div>
                }
                <!-- <form class="form-login" onsubmit="return validateFormLogin()"></form> -->
            </div>
            <div class="text-center pt-5 w-100">
                <b>
                    Phần mềm quản lý bán hàng <i class="bx bx-copyright"></i>
                    <script>document.write(new Date().getFullYear())</script>
                </b>
            </div>
        </div>
    </section>

    <!-- ====== JAVASCRIPT ===== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="~/Assets/admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/admin/js/login.js"></script>
</body>

</html>
