@model Hoa_Chat_Thi_Nghiem_ASP_NET_MVC.Models.ConfirmPasswordCustomerModel
@{
    ViewBag.Title = "Confirm Password";
    Layout = "~/Views/Share/LayoutLogin.cshtml";
}

<section class="form-input py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-12 text-center">
                <img width="80%" src="~/Assets/shop/images/labs/login_start.jpg" alt="" />
            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <div class="h-100 d-flex align-items-center">
                    @using (Html.BeginForm("confirmPasswordCustomer", "Account", FormMethod.Post,
                    new { @class = "m-0 p-5 text-center" }))
                    {
                        <h5 class="mb-4">Xác Nhận Mật Khẩu</h5>
                        if (@ViewBag.success_newPass != null)
                        {
                            <div class="alert alert-success notification-error" role="alert">
                                @ViewBag.success_newPass
                            </div>
                        }
                        @Html.ValidationMessage("", new { @class = "text-danger notification-error" })
                        @*<input class="w-100 mb-3" type="password" placeholder="Mật khẩu mới" />*@
                        @Html.ValidationMessageFor(model => model.newPass, "", new { @class = "text-danger notification-error" })
                        @Html.PasswordFor(model => model.newPass, new
                   {
                       @class = "w-100 mb-3 input-login-field",
                       @autocomplete = "off",
                       @placeholder = "Mật khẩu mới",
                       @type = "password"
                   })


                        @*<input class="w-100 mb-4" type="password" placeholder="Xác nhận lại mật khẩu mới" />*@
                        @Html.ValidationMessageFor(model => model.confirm_newPass, "", new { @class = "text-danger notification-error" })
                        @Html.PasswordFor(model => model.confirm_newPass, new
                   {
                       @class = "w-100 mb-4 input-login-field",
                       @autocomplete = "off",
                       @placeholder = "Xác nhận lại mật khẩu mới",
                       @type = "password"
                   })

                        <button class="next w-100 mb-3">Xác nhận</button>
                        <span class="shotcut">
                            <a class="mr-3" href="/Account/Login">Đăng nhập</a>
                            <a href="/Account/Register">Đăng ký?</a>
                        </span>
                    }
                    @*<form class="m-0 p-5 text-center">
        </form>*@
                </div>
            </div>
        </div>
    </div>
</section>

